html {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.enyo-popup {
	position: fixed;
}
.enyo-popup.smallToaster {
	top: inherit;
}

.museumHeader {
	background-color: #333;
	position: relative;
	min-height:50px;
	background-image: url(../images/palm/top-chrome.png);
   	background-repeat: repeat-x;
	border-bottom:1px solid #9e9e9e;
}
.museumHeader:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

.enyo-held {
background: -webkit-gradient(linear, left top, left bottom, from(rgba(138,124,222,1)), to(rgba(52,29,189,0.8)));
}

.enyo-button.enyo-button-light.bookmarkButton .bookmarkInner {
	width:31px;
	height:30px;
	margin:-6px -10px;
	background: url(../images/toggle-saved.png) top left no-repeat;
}

.enyo-button.enyo-button-light.bookmarkButton.enyo-button-depressed .bookmarkInner {
	background: url(../images/toggle-saved.png) bottom left no-repeat;
}


.searchHeader {
	overflow: hidden;
	min-height: 54px;
	height: 54px;
	transition: height 0.5s ease-in-out, min-height 0.5s ease-in-out;
}
.searchHeader.hidden {
	height: 0;
	min-height: 0;
}

.palmOrange {
	color: rgb(52,29,189);
}
.palmAccent {
	font-weight: bold;
}
.appListItem {
	height: 88px;
}
.appListIcon {
	position: relative;
	width: 24px;
	height: 24px;
	background-image: url("../images/missingApp.png");
	background-position: bottom center;
	background-repeat: no-repeat;
	margin-left: 8px;
}
.foundApp .appListIcon {
	background-position: top center;
}
.foundAppLocally .appListIcon {
	background-position: center center;
}
.categoryIndicator {
	position: relative;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
}
.catBooks .categoryIndicator {
	background-image: url("../images/categoriesSmall/booksSmall.png");
}
.catCuratorsChoice .categoryIndicator {
	background-image: url("../images/categoriesSmall/curatorSmall.png");
}
.catRevisionistHistory .categoryIndicator {
	background-image: url("../images/categoriesSmall/revisionsSmall.png");
}
.catBusiness .categoryIndicator {
	background-image: url("../images/categoriesSmall/businessSmall.png");
}
.catEducation .categoryIndicator {
	background-image: url("../images/categoriesSmall/educationSmall.png");
}
.catEntertainment .categoryIndicator {
	background-image: url("../images/categoriesSmall/entertainmentSmall.png");
}
.catFinance .categoryIndicator {
	background-image: url("../images/categoriesSmall/financeSmall.png");
}
.catFood .categoryIndicator {
	background-image: url("../images/categoriesSmall/foodSmall.png");
}
.catGames .categoryIndicator {
	background-image: url("../images/categoriesSmall/gamesSmall.png");
}
.catHealthFitness .categoryIndicator {
	background-image: url("../images/categoriesSmall/health-and-fitnessSmall.png");
}
.catLifestyle .categoryIndicator {
	background-image: url("../images/categoriesSmall/lifestyleSmall.png");
}
.catMusic .categoryIndicator {
	background-image: url("../images/categoriesSmall/musicSmall.png");
}
.catNavigation .categoryIndicator {
	background-image: url("../images/categoriesSmall/navigationSmall.png");
}
.catNews .categoryIndicator {
	background-image: url("../images/categoriesSmall/newsSmall.png");
}
.catPhotography .categoryIndicator {
	background-image: url("../images/categoriesSmall/photographySmall.png");
}
.catProductivity .categoryIndicator {
	background-image: url("../images/categoriesSmall/productivitySmall.png");
}
.catReference .categoryIndicator {
	background-image: url("../images/categoriesSmall/referenceSmall.png");
}
.catSocialNetworking .categoryIndicator {
	background-image: url("../images/categoriesSmall/social-networkingSmall.png");
}
.catSports .categoryIndicator {
	background-image: url("../images/categoriesSmall/sportsSmall.png");
}
.catTravel .categoryIndicator {
	background-image: url("../images/categoriesSmall/travelSmall.png");
}
.catWeather .categoryIndicator {
	background-image: url("../images/categoriesSmall/weatherSmall.png");
}

.preIcon {
	height: 50px;
	width: 17px;
	background-position: 0 -51px;
	background-repeat: no-repeat;
	background-image: url(../images/devices/Pre.png);
}
.pixiIcon {
	height: 50px;
	width: 16px;
	background-position: 0 -51px;
	background-repeat: no-repeat;
	background-image: url(../images/devices/Pixi.png);
}
.pre2Icon {
	height: 50px;
	width: 17px;
	background-position: 0 -51px;
	background-repeat: no-repeat;
	background-image: url(../images/devices/Pre2.png);
}
.veerIcon {
	height: 50px;
	width: 16px;
	background-position: 0 -51px;
	background-repeat: no-repeat;
	background-image: url(../images/devices/Veer.png);
}
.pre3Icon {
	height: 50px;
	width: 19px;
	background-position: 0 -51px;
	background-repeat: no-repeat;
	background-image: url(../images/devices/Pre3.png);
}
.touchpadIcon {
	height: 50px;
	width: 62px;
	background-position: 0 -51px;
	background-repeat: no-repeat;
	background-image: url(../images/devices/TouchPad.png);
}
.activeDeviceIcon {
	background-position: 0 -1px;
}
.categoryIconDetails {
	height: 48px;
	width: 48px;
	margin-top: 2px;
	margin-bottom: -4px;
}

.appNameDetail {
	font-size:32px;
	font-family: "PreludeWGL Light";
	overflow: hidden;
	margin-right: 10px;
	margin-left: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	color: #333333;
	line-height: 32px;
	/*padding-top:10px;*/
}
.appMakerDetail {
	font-size:16px;
	font-family: "PreludeWGL Bold";
	overflow: hidden;
	margin-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	color: rgba(51,51,51,0.5);
	padding-top:6px;
}

.descriptionTitle {
	font-size: 18px;
	font-weight: bold;
	margin-left: 10px;
}
.description {
	padding: 0 10px;
	font-size: 14px;
	/*pointer-events: none;*/
}

.imageList {
	background-color: rgba(0,0,0,0.25);
	width: 100%;
	min-height: 256px;
	border-bottom: 2px solid white;
	position: relative;
	background-image: url(../images/shadow.png);
	background-repeat: repeat-x;
	background-position: top left;
}
.imageList.phone {
	min-height: 150px;
}
.screenshot {
	background-color: black;
	border-radius: 8px;
	position: absolute;
	bottom: 18px;
	left: 8px;
	border-bottom: 3px solid rgba(0,0,0,0.5);
	border-right:  3px solid rgba(0,0,0,0.5);
	background-size: contain;
	background-repeat: no-repeat;

	opacity: 0;
}
.screenshot.landscape {
	opacity: 1;
	width:  240px;
	height: 160px;
	top: 48px;
	margin-left: 40px;
}
.phone .screenshot.landscape {
	opacity: 1;
	width: 120px;
	height: 80px;
	top: 24px;
}
.screenshot.portrait {
	opacity: 1;
	height: 240px;
	width:  160px;
	top: -8px;
	margin-left: 40px;
}
.phone .screenshot.portrait {
	opacity: 1;
	height: 120px;
	width: 80px;
	top: -8px;
	margin-left: 80px;
}
.screenshot3 {
	z-index: 10;
	left:    66px;
}
.screenshot2 {
	z-index: 20;
	left:    44px;
	-webkit-transform: rotate(-5deg);
}
.screenshot1 {
	z-index: 30;
	left:    22px;
	-webkit-transform: rotate(-10deg);
}
.screenshotCarousel {
	background-color: rgb(0,0,0);
}
.screenshotArea {
	min-width: 320px;
	min-height: 250px !important;
}
.phone .screenshotArea{
	min-height: 120px !important;
}
.optimizedUserExperience:after {
	content: "";
	position: absolute;
	z-index: 202;
	width: 100%;
	height: 100%;
	background-image: url("../images/optimizedUserExperience.png");
	background-repeat: no-repeat;
	background-position: top right;
	top: 0;
	left: 0;
	pointer-events: none;
}
.factsArea {
	padding: 6px 4px;
	color: rgba(0,0,0,0.55) !important;
	font-size: 16px;
	text-decoration: none;
}
.factsArea a {
	color: rgba(0,0,0,0.55) !important;
	font-size: 18px;
	text-decoration: none;
}
.copyright {
	font-size: 14px;
	font-family: "PreludeWGL Bold";
	overflow: hidden;
	text-overflow: ellipsis;
}
.price {
	background-image: url(../images/price.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-left: 32px;
	line-height: 24px;
	padding-top: 12px;
	margin-bottom: 12px;
}
.media {
	height: 90px;
	width: 120px;
	background-size: 100%;
	margin-right: 8px;
}
.appFooter {
	background-color: rgba(0,0,0,0.1);
	font-size: 14px;
	font-family: "PreludeWGL Bold";
	color: rgba(0,0,0,0.8);
}
.appFooter div {
	padding: 0 4px;
}
.appFooterNote {
	padding: 8px;
	border-radius: 12px;
	margin: 3px;
}
.vendorLogo {
	margin: 4px 8px 0 0;
	width: 32px;
	height: 32px;
}
.vendorLogo.noLogo {
	content: "";
	position: relative;
	display: block;
	margin: 4px 8px 0 0;
	width: 32px;
	height: 32px;
}
.vendorLogo:after {
	content: attr(vendorletter);
	position: absolute;
	width: 32px;
	height: 32px;
	background-color: rgb(160,160,160);
	text-align: center;
	line-height: 32px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.detailLogo {
	margin: 0 0 0 4px !important;
}
.screenshotSpinner {
	position: fixed;
	z-index: 1024;
	left: 50%;
	top: 50%;
	margin-left: -64px;
	margin-top: -64px;
}
.screenshotCarousel::before {
	content: "";
	position: absolute;
	top: 8px;
	right: 8px;
	height: 32px;
	width: 32px;
	background-image: url(../images/closeButton.png);
	background-repeat: no-repeat;
	background-position: top;
	z-index: 1024;
}
/*.screenshotCarousel:hover::before {
	background-position: bottom;
}*/

.itemTitle {
	margin-left:0px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	max-width: 100%;
}
.itemAuthor {
	font-size: 14px;
	color:#40454c;
	margin-left:0px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	max-width: 100%;
}
.itemIcon {
	/*background-image: url(../images/appIconPlaceholder.png);*/
	background-repeat: no-repeat;
	background-size: contain;"
}
.hideOnScrollArea {
	opacity: 1;
	-webkit-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.hiddenOnScroll .hideOnScrollArea {
	opacity: 0;
}
.appFooterSelectorOnDark {
	color: #a9a9a9;
}
.appFooterSelectorOnLight {
	color: #343434;
}
.appListBackground {
	background-image: url("../images/iconDepth.png");
	background-repeat: no-repeat;
	background-position: center;
}
.page {
	background-color: #d8d8d8;
}
.receivingDataBar {
	height: 32px;
	pointer-events: none;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(138,124,222,1)), to(rgba(52,29,189,0.8)));
	overflow: hidden;
	border-top: 1px solid #a9a9a9;
	box-sizing: border-box;
	font-size: 14px;
	font-family: "PreludeWGL Bold";
	color: rgba(0,0,0,0.6);
	padding: 0 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0.9;
	text-align: center;
	-webkit-transition: height 0.25s linear, border-top 0.25s linear;
}
.receivingDataBar.allDataReceived {
	height: 0;
	border-top: 0px solid rgba(0,0,0,0);
}
.listItemEven {
	background-color: rgba(225,190,158, 0.15);
}

.appCountBullet {
	height: 24px;
	border-style: solid;
	border-width: 0 11px;
	-webkit-border-image: url(../images/appCountBullet.png) 0 11 0 11;
	color: rgba(255,255,255,0.65);
	margin-right: 2px;
	font-family: "PreludeWGL Bold";
	font-size: 14px;
	line-height: 24px;
	position: absolute;
	right: 0;
}

.resetAppIcon {
	height: 24px;
	width: 24px;
	background-image: url(../images/restartApp.png);
	background-position: top;
	display: inline-block;
	background-repeat: no-repeat;
	margin-left: 16px;
	margin-right: 16px;
}
.resetAppIcon.resetting {
	background-position: bottom;
}